<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jagr.superduo20" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name="com.example.jagr.alexandria.activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.jagr.alexandria.activities.DetailActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.example.jagr.alexandria.activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jagr.alexandria.activities.MainActivity" />
        </activity>

        <provider
            android:name="com.example.jagr.alexandria.data.BookProvider"
            android:authorities="com.example.jagr.alexandria"
            android:exported="false" />

        <receiver
            android:name="com.example.jagr.alexandria.receivers.AlexandriaReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.example.jagr.alexandria.ACTION_MESSAGE_EVENT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
